@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            <img src="@Url.Content("~/Images/images.jpg")" alt="imgf" />
        </p>
    </div>
</div>
